.jumbotron{
    background-color: yellow;
    margin-top: 50px;
}

.btn{
 
}
.col{}

footer{
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 10px 10px 0 10px;
}

.tarjetas{
    margin-top: 10px;
    flex: 1 200px;
    
}
.btn-tarjeta{
    border-radius: 0px;
    width: 100%;
    bottom: 0;
    
}

.icono{
 padding-right: 15px;
 color: blue;
}

.banner{
    width: 100%;
    height: 300px;
}
.tab-content{
    padding-top: 10px;
}
.colap{
    padding-top: 10px;
}