.jumbotron {
  background-color: #fffaaa;
  margin-top: 50px;
}

footer {
  background-color: #fffaaa;
  padding: 10px 10px 0 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.tarjetas {
  margin-top: 10px;
  flex: 1 200px;
}

.btn-tarjeta {
  border-radius: 0px;
  width: 100%;
  bottom: 0;
}

.icono {
  padding-right: 15px;
  color: #0c2ba8;
}

.banner {
  width: 100%;
  height: 300px;
}

.tab-content {
  padding-top: 10px;
}

.colap {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
