$amarillo: #fffaaa;
$rojo: #C01200 ;
$azul: #0c2ba8 ;

@mixin margenes( $top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $amarillo;
    margin-top: 50px;
}

.btn{
 
}
.col{}

footer{
    background-color: $amarillo;
    padding: 10px 10px 0 10px;
    @include margenes(50px, 0px )
}

.tarjetas{
    margin-top: 10px;
    flex: 1 200px;
    
}
.btn-tarjeta{
    border-radius: 0px;
    width: 100%;
    bottom: 0;
    
}

.icono{
 padding-right: 15px;
 color:$azul;
}

.banner{
    width: 100%;
    height: 300px;
}
.tab-content{
    padding-top: 10px;
}
.colap{
    padding-top: 10px;
}